<html>
	<head>
		<title>[%pagetitle%]</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		[%rssLink%]
		[%facebookmetadata%]
		[%twittermetadata%]
		
		<script src="//s3.amazonaws.com/scripting.com/code/includes/jquery-1.9.1.min.js"></script>
<link href="//s3.amazonaws.com/scripting.com/code/includes/bootstrap.css" rel="stylesheet">
<script src="//s3.amazonaws.com/scripting.com/code/includes/bootstrap.min.js"></script>

<link rel="stylesheet" href="//s3.amazonaws.com/scripting.com/code/fontawesome/css/all.css">
<link href="//fonts.googleapis.com/css?family=Ubuntu:400,500i,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Rancho" rel="stylesheet">

<script src="//s3.amazonaws.com/scripting.com/code/includes/basic/code.js"></script>
<link href="//s3.amazonaws.com/scripting.com/code/includes/basic/styles.css" rel="stylesheet" type="text/css">

		<script src="http://api.nodestorage.io/api.js"></script>
<script src="http://fargo.io/code/shared/emojify.js"></script>
<link rel="stylesheet" href="http://fargo.io/code/shared/emojify.css"/>
<script src="http://fargo.io/code/markdownConverter.js"></script>
<script src="http://fargo.io/code/browsers/outlinebrowser.js" async></script>
<link href="http://fargo.io/code/browsers/riverbrowser.css" rel="stylesheet" type="text/css">
<script src="http://fargo.io/code/browsers/riverbrowser.js"></script>

		
		<link rel="stylesheet" href="//fargo.io/code/editors/mediumeditor/dist/css/medium-editor.css"> 
		<link rel="stylesheet" href="//fargo.io/code/editors/mediumeditor/dist/css/themes/default.css"> 
		<script src="//fargo.io/code/editors/mediumeditor/dist/js/medium-editor.js"></script>
		<script src="//fargo.io/code/shared/tweeteditor.js"></script>
		
		<script src="//scripting.com/code/imageclick/dialog.js"></script>
		
		<link href="//radio3.io/code/pagestyles.css" rel="stylesheet" type="text/css">
		<script src="//radio3.io/code/pagecode.js"></script>
		
		<script src="//fargo.io/code/shared/xml.js"></script>
		<script src="//fargo.io/code/shared/reader.js"></script>
		<script src="//fargo.io/cms/snap/snap.js"></script>
		<link rel="stylesheet" type="text/css" href="//fargo.io/cms/snap/snap.css" />
		<link rel="stylesheet" type="text/css" href="//fargo.io/code/shared/reader.css" />
		
		<script src="//scripting.com/chat/code/chatapp.js"></script>
		<link href="//scripting.com/chat/code/chatstyles.css" rel="stylesheet" type="text/css">
		
		<script src="//scripting.com/code/tagrefdialog/dialog.js"></script>
		
		<link href="//scripting.com/code/drummercms/template/styles.css" rel="stylesheet" type="text/css">
		<script src="//scripting.com/code/drummercms/template/code.js"></script>
		<script>
			var config = [%configJson%];
			var opmlHead = [%opmlHead%];
			</script>
		</head>
	<body>
		<div id="idTweetDialog" class="modal hide fade divTweetDialog">
			<div class="divTweetDialogContainer">
				<div id="idMyTweetEditor">
					</div>
				</div>
			</div>
		<div class="divToggleConnect"><a onclick="chatToggleConnect ();" id="idToggleConnect"></a></div><div>&nbsp;</div>
		<div class="divVersionNumber" id="idVersionNumber">
			</div>
		<div class="divPagetop">
			[%pagetop%]
			</div>
		<div class="divTextSizeControl">
			<button id="idTextSizeMinus" class="btn" type="button" onclick="decreaseTextSize ();"><i class="fas fa-font"></i>-</button>
			<button id="idTextSizePlus" class="btn" type="button" onclick="increaseTextSize ();"><i class="fas fa-font"></i>+</button>
			</div>
		<div class="divPageBody">
			<div class="divDayContainer" id="idDayContainer">
				[%bodytext%]
				</div>
			<div class="divFooter">
				<p>[%copyright%]</p>
				<p>Last update: [%now%].</p>
				<p id="idSnarkySlogan"></p>
				[%socialMediaLinks%]
				</div>
			</div>
		<script>
			$(document).ready (function () {
				startup ();
				});
			</script>
		</body>
	</html>
